body{
    background-color: #ffa69e;
}

img{
    width: 100%;
}
.container img{
    max-height: 600px;
}
.default{
    color: #faf3dd;
}
.color{
    color:#b8f2e6;
}
.clicked{
    color:#4cbecf;
    font-weight: 600;
}
.end-text{
    cursor: pointer;
}
.end-text:hover{
    color:#aed9e0;
}